.form {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 1rem;
  margin: 0 auto;
  align-content: center;
  padding: 1rem;
  background-color: #fefefe;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}

.card{
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  justify-content: center;
}

.inputdot{
  width: fit-content;
}

.radioGroup{
  display: flex;
  width: 100%;
  gap: 1rem;
  margin: 0 auto;
  justify-content: stretch;
}

.submitBtn{
  width: 10%;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #7c3aed;
  border-radius: 0.5rem;
  color: white;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}