/* AdminLogin.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #e6d8ff, #ffffff);
    padding: 1.5rem;
  }
  
  .card {
    width: 30%;
  }
  
  .header {
    text-align: center;
    margin-bottom: clamp(1rem, 5vw, 2rem);
  }
  
  .heading {
    font-size: clamp(1.5rem, 3vw, 1.75rem);
    font-weight: 600;
    margin-bottom: clamp(0.25rem,1.5vw,0.5rem);
  }
  
  .subheading {
    color: #4b5563;
  }
  
  .formContainer {
    background-color: #ffffff;
    border-radius: 1.25rem;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: clamp(1.5rem, 5vw, 2rem);
  }
  
  .errorMessage {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #fce4e4;
    color: #f87171;
    border: 1px solid #fca5a5;
    border-radius: 0.5rem;
  }
  
  .form {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .inputContainer{
    width: 100%;
  }
  
  .input {
    width: 90%;
    padding: clamp(0.75rem, 2vw, 1rem);
    border-radius: 0.75rem;
    border: 1px solid #d1d5db;
    outline: none;
    transition: all 0.3s ease;
  }
  
  .input:focus {
    border-color: #a78bfa;
    box-shadow: 0 0 0 2px rgba(156, 163, 175, 0.3);
  }
  
  .submitButton {
    width: 100%;
    background-color: #7c3aed;
    color: white;
    padding: 0.75rem;
    border-radius: 0.75rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #6d28d9;
  }
  